#!/bin/bash

# Template deploy version
export DATACAPTURE_URI=https://tax-tribunals-datacapture-dev.dsd.io

# Set these values to match a case with an outstanding fee liability
#export CASE_WITH_FEE_REF="TC/2016/00064"
#export CASE_WITH_FEE_CONF_CODE=CAPFXY
#export CASE_WITH_FEE_TITLE="Tromp-Moen"
#export CASE_WITH_FEE_AMOUNT="£200"
