#!/bin/bash

export FEE_PAYMENT_URL=https://taxtribs-fees-dev.dsd.io

# Set these values to match a case with an outstanding fee liability
export CASE_WITH_FEE_REF=TC/2016/00042
export CASE_WITH_FEE_CONF_CODE=RRCYHJ
export CASE_WITH_FEE_TITLE="Mann and Sons"
export CASE_WITH_FEE_AMOUNT="£200"
